$bgColor: #EAE6DF;
$textblacklColor: rgba(45, 45, 43, 1);
$buttonColor: rgba(184, 146, 106, 1);   
$whiteColor: white;
$grayColor: rgba(255, 255, 255, 0.75);
$inputColor: rgba(247, 249, 252, 1);
$fontDidot: "GFS Didot", serif;
$fontRaleway: "Raleway", sans-serif;